---
layout: home
nav_order: 1
title: Home
---

{% raw %}
<div class="content">
{% endraw %}
    {% for post in paginator.posts %}
    <article>
          <span style="float: left;"><h2>{{ post.title }}</h2></span>
          <span class="fs-3" style="clear: both; display: block;">{{ post.date | date_to_string }}</span>
          {{ post.content }}
    </article>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}/">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path}}/">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<script type="text/javascript" src="/assets/js/infinite-scroll.pkgd.min.js?{{site.time | date: '%s'}}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
        let infScroll = new InfiniteScroll( '.content', {
          path: '.next',
          append: '.content',
          hideNav: '.pagination',
          history: false,
          debug: false,
        });

        infScroll.on( 'append', function( body, path, items, response ) {
                console.log("append");
                initLightbox();
        });

});
</script>
