/*
.pagination {
	display: none;
}
*/

.site-logo {
    background-image: none;
}

/*
.gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vx;
}

.gallery-item {
    position:relative;
    width: 33.3%;
    img {
      border: 2px solid white;
      width: 100%;
      display: block;
    }
}
*/

