$content-width: 800px;
$body-background-color: $white;

$body-text-color: $grey-dk-300;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $blue-300;
$search-result-preview-color: $grey-dk-000;

$link-color: $grey-dk-100;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;



//
// Grid system
//

//$nav-width: 264px;
//$nav-width: 200px;
//$nav-width-md: 184px;
//$content-width: 1156px;
//$header-height: 60px;
//$transition-duration: 400ms;

//
// Media queries in pixels
//

//$media-queries: (
//  xs: 320px,
//  sm: 500px,
//  md: 800px,
//  lg: $content-width + $nav-width,
//  xl: 1400px,
//);

