<p><a href="#top" id="back-to-top">Back to top</a></p>
<p class="text-small text-grey-dk-100 mb-0">Copyright &copy; 2020-2022 Ian Cass</p> <div class="d-flex mt-2"> </div>

<script type="module" src="/assets/js/instantpage.js?{{site.time | date: '%s'}}" defer></script>

<script type="text/javascript" src="/assets/js/just-the-docs.min.js?{{site.time | date: '%s'}}"></script>
{% if site.search_enabled != false %}
  <script type="text/javascript" src="/assets/js/vendor/lunr.min.js?{{site.time | date: '%s'}}"></script>
{% endif %}

<link rel="stylesheet" href="/assets/css/lightbox.css?{{site.time | date: '%s'}}">
<script type="text/javascript" src="/assets/js/lightbox.min.js?{{site.time | date: '%s'}}"></script>

{% if site.ga_tracking != nil %}
<script type="text/javascript" src="/assets/js/minimal-analytics-4-min.js?{{site.time | date: '%s'}}"></script>
{% endif %}
