<p><a href="#top" id="back-to-top">Back to top</a></p>
<p class="text-small text-grey-dk-100 mb-0">Copyright &copy; 2020-2021 Ian Cass</p> <div class="d-flex mt-2"> </div>

<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>

<script type="text/javascript" src="/assets/js/just-the-docs.js?{{site.time | date: '%s'}}"></script>
{% if site.search_enabled != false %}
  <script type="text/javascript" src="/assets/js/vendor/lunr.min.js?{{site.time | date: '%s'}}"></script>
{% endif %}

<link rel="stylesheet" href="/assets/css/lightbox.css?{{site.time | date: '%s'}}">
<script type="text/javascript" src="/assets/js/lightbox.js?{{site.time | date: '%s'}}"></script>

{% if site.ga_tracking != nil %}
<script src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
<script>
 window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_tracking }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});

</script>
{% endif %}

<script type="text/javascript" src="/assets/js/infinite-scroll.pkgd.min.js"></script>

<script>

	barba.hooks.after((data) => {

		console.log("after");

		/* Reset the mobile menu */
		const siteNav = document.getElementById('site-nav');
		const mainHeader = document.getElementById('main-header');
		const menuButton = document.getElementById('menu-button');

		siteNav.classList.remove('nav-open');
		mainHeader.classList.remove('nav-open');
		menuButton.classList.remove('nav-open');

		/* Reset lightbox */
		initLightbox();

		/* Reset InfiniteScroll */
		if (data.next.namespace == 'home') {
			console.log("Loading infScroll");
                        let infScroll = new InfiniteScroll('.content', {
                                  path: '.next',
                                  append: '.content',
                                  hideNav: '.pagination',
                                  history: false,
                                  debug: false,
                        });

                        infScroll.on( 'append', function( body, path, items, response ) {
                                initLightbox();
                        });

		}
		if (data.current.namespace == 'home') {
			let infScroll = InfiniteScroll.data('.content');
			infScroll.destroy();
		}

		/* push Google Tags */
		var trackers = ga.getAll();
		trackers.forEach(function (tracker) {
			ga(tracker.get('name') + '.send', 'pageview', location.pathname, {'useAmpClientId': true});
		});
	});

	var min_rem = 50;
	var computedStyle = window.getComputedStyle(document.documentElement); 
	var fontSize = computedStyle.fontSize; 
	var ww = document.body.clientWidth / parseInt(fontSize); 

	if (ww >= min_rem) {
		barba.init();
	}

</script>

